body {

  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  margin: auto;
  background-image: url(../img/fundo.jpg);
  background-repeat: no-repeat;

}


.actions{
  padding: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
 margin: auto;
}

.edit{
background: #6495ED;
}

.delete{
background: #FF6347;
}

.visualizar{
background: #FFA500;
}
